            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="site-title-wrapper">
                    <p class="footer-copyright">
                        <span>&copy; 2020 Programmer Journey</span>
                    </p>
                </div>
            </div>
        </footer>

        <script src="{{ .Site.BaseURL }}js/jquery-1.11.3.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/jquery.fitvids.js"></script>
        <script src="{{ .Site.BaseURL }}js/scripts.js"></script>
        <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="petipalm" data-description="Support me on Buy me a coffee!" data-message="" data-color="#1977F3" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    </body>
</html>
